@model applyRequests.Models.entityRequest
<br />
@using (Html.BeginForm("Detail", "Home", FormMethod.Post))
{
    <div class="panel panel-default" ng-controller="detailController">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2">
                    申請案件內容
                </div>              
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1">
                    申請人
                </div>
                <div class="col-md-4">
                    @Html.ValueFor(m => m.applyUserName)
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    需求日期
                </div>
                <div class="col-md-4">
                    @Html.ValueFor(m => m.requestDate)
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    標題
                </div>
                <div class="col-md-4">
                    @Html.ValueFor(m => m.applyTitle)
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    申請理由
                </div>
                <div class="col-md-4">
                    @Html.Raw(@Model.applyReason)
                    @*@Html.ValueFor(m => m.applyReason)*@
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    申請結果
                </div>
                <div class="col-md-4">
                    <label>@switch (Model.processAction.Trim())
                    {
                        case "complete":
                            <label>審核通過</label>
                            break;
                        case "end":
                        <label>完工</label>
                            break;
                        case "reject":
                        <label>審核不通過</label>
                            break;
                        default:
                        <label>審核中</label>
                            break;
                    }</label>
                     @*@Html.ValueFor(m => m.processAction)*@
                </div>
            </div>
        </div>
    </div>
}

