@{
    ViewBag.Title = "Home Page";
}
@model applyRequests.Models.entityRequest
@using (Html.BeginForm("edit", "Home", FormMethod.Post))
{
    <h1>申請案件</h1>
    <div ng-controller="MyCtrl">
        <div class="row">
            <div class="col-md-1">
                申請人
            </div>
            <div class="col-md-4">
              @Model.applyUserName
                <input type="hidden" name="applyRequestID" value="@Model.ikey"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                需求日期
            </div>
            <div class="col-md-4">
                <input name="applyDate" id="applyDate" required>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                標題
            </div>
            <div class="col-md-4">
                <input name="applyTitle" required maxlength="100" value="@Model.applyTitle" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-1">
                需求內容
            </div>
            <div class="col-md-8">                
                @(Html.Kendo().Editor()
              .Name("applyReason")
                      .HtmlAttributes(new
                      {
                          style = "width: 740px;height:440px"
                      })
                      .Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .InsertFile()
                          .SubScript()
                          .SuperScript()
                          .TableEditing()
                          .ViewHtml()
                          .Formatting()
                          .CleanFormatting()
                          .FontName()
                          .FontSize()
                          .FontColor().BackColor()
              ).ImageBrowser(imageBrowser => imageBrowser
                    .Image("~/Content/UserFiles/Images/{0}")
                    .Read("Read", "ImageBrowser")
                    .Create("Create", "ImageBrowser")
                    .Destroy("Destroy", "ImageBrowser")
                    .Upload("Upload", "ImageBrowser")
                    .Thumbnail("Thumbnail", "ImageBrowser"))
             .FileBrowser(fileBrowser => fileBrowser
                    .File("~/Content/UserFiles/Images/{0}")
                    .Read("Read", "FileBrowser")
                    .Create("Create", "FileBrowser")
                    .Destroy("Destroy", "FileBrowser")
                    .Upload("Upload", "FileBrowser")
            ))
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-default">儲存</button>
    </div>
}
<script>
    angular.module("requestApp", ["kendo.directives"]).factory("usersFactory", function ($http) {
        return {
            getUsers: function () {
                return $http({
                    url: '../api/UserAPI?userListType=allUser',
                    method: 'GET'
                })
            }
        }
    }).controller("MyCtrl", function ($scope, $http, usersFactory) {   
            $(document).ready(function () {
                $("#applyDate").kendoDatePicker({
                    value: "@Model.requestDate",   
                    format: "yyyy/MM/dd"
                })
            });
        });
</script>

