@model IEnumerable<applyRequests.Models.entityRequest>

<h2>已結案的表單</h2>

@using (Html.BeginForm("listSignedRequests", "Home", FormMethod.Post))
{
<div class="alert alert-success" role="alert" ng-controller="listRequestsController">
    @Html.Partial("~/Views/Home/searchView.cshtml")
</div>
}
<p />

<label> 你目前查詢: @ViewData["startDate"] ~  @ViewData["endDate"]</label>

<table class="table">
    <tr>
        <th>
            申請者
        </th>
        <th>
            需求日期
        </th>
        <th>
            目前流程
        </th>
        <th>
            處理者
        </th>
        <th>
            標題
        </th>
        <th>
            審核結果
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.applyUserName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.requestDate)*@
            <label>@item.requestDate.Value.ToString("yyyy/MM/dd")</label>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.processName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.processUser)
        </td>    
        <td>
            @Html.DisplayFor(modelItem => item.applyTitle)
        </td>      
        <td>
            @switch (item.processAction.Trim())
            {
                case "complete":
                    <label>審核通過</label>
                    break;
                case "end":
                <label>完工</label>
                    break;
                case "reject":
                <label>審核不通過</label>
                    break;
                default:
                <label>審核中</label>
                    break;
            }
        </td>  
        <td>
            @Html.ActionLink("詳細", "Details", new
           {
               id = item.ikey
           })
        </td>
      
    </tr>
}
</table>
<script>
    angular.module("requestApp", ["kendo.directives"]).controller("listRequestsController", function ($scope) {
            $scope.dateTimeConfig = {
                start: "day",
                depth: "day",
                format: "yyyy-MM-dd"
            };

            $scope.checkSearch = function () {
                if ($scope.startDate == "" || $scope.endDate == "") {
                    alert("請輸入起始日期和結束日期")
                    return false;
                } else {
                    return true;
                }
            }
        });
</script>